.message-composer-controls {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-sender-selector {
  padding: .6rem 1.2rem;
  background: unset;
  font-weight: 700;
  font-size: 1rem;
  border: 1px #1565c0 solid;
  color: #1565c0;
}
