html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  color: #454e54;
  margin:0;
  padding: 0;
  padding-bottom: 110px;
}
.messaging-widget {
  border-radius: 3px;
  padding: 0.5rem;
}

.message-composer {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  resize: none;
  padding: 0.5rem;
  border-bottom: 1px #eee solid;
  font-size: 1.3rem;
  overflow: auto;
}

input:focus {
  outline-offset: 0;
  outline: 0;
}

.button {
  text-align: center;
  padding: .6rem 1.2rem;
  margin: 0;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  background: #f1f1f1;
  transition: background-color .2s ease-out, color .2s ease-out;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  -webkit-appearance: none;
  -webkit-font-smoothing: antialised;
  cursor: pointer;
}

button[disabled],
button[disabled]:hover{
  background: #eee;
  transition: background-color .2s ease-out;
}

.button--primary {
  background: #00c853;
  border: none;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.button--primary:hover {
  background: #06de60;
}
