.message-topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: #fff;
  background: #1565c0;
  box-shadow: 1px 1px 4px rgba(79,79,79,.25);
  font-weight: 700;
}
.message-content {
  padding: 1rem 0.5rem 1.5rem;
  font-size: 1.3rem;
  background: #f1f0f0;
  margin-bottom: 0.5rem;
}
